@using PagedList.Mvc
@model DoctorWebASP.ViewModels.CalendarioViewModel

@{
    ViewBag.Title = "SeleccionarHorario";
}

<section class="content-header">
    <h1>
        Cita Medica
        <small>Solicitud de Cita</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Cita</a></li>
        <li class="active">Solicitar Cita</li>
    </ol>
</section>

<section class="content">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Seleccione la fecha en la que desea generar su cita</h3>
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <input type="hidden" name="MedicoId" id="MedicoId" value="@Model.MedicoId" />
                <input type="hidden" name="CentroMedicoId" id="CentroMedicoId" value="@Model.CentroMedicoId" />
                <table id="dataTable" class="table table-bordered table-hover">
                    <tr>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.ListaFechas)
            {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.HoraInicio)</td>
                            <td>@Html.DisplayFor(modelItem => item.HoraFin)</td>
                            <td>
                                <div align="center">@Html.ActionLink("GenerarCita", "GenerarCita", new { calendarioId = item.CalendarioId, Model.MedicoId, Model.CentroMedicoId } , new { @class = "btn btn-success" })</div>

                            </td>
                        </tr>
                    }
                </table>

                <p>
                    @Html.PagedListPager(Model.ListaFechas, page => Url.Action("SeleccionarHorario", new { page = page, Model.MedicoId, Model.CentroMedicoId }), PagedListRenderOptions.PageNumbersOnly)
                </p>
            </div>
        </div>
</section>

@section Scripts {

    <script>
      $(function () {
        $('#dataTable').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>




    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.bootstrap.min.js")
}